<% content_for(:title, 'Login') %>
<div class="col-sm-4">
  <h1>Login</h1>
  <%= form_for(:session, url: sessions_path) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: 'alice@example.com', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <%= f.submit 'Login', class: 'btn btn-primary' %>
  <% end %>
</div>
