<% provide :title, "#{@post.title} - #{@post.author.name}" %>

<p id="notice"><%= notice %></p>

<div class="col-md-8">
  <article>
    <h2><%= @post.title %></h2>
    <div><%= raw @post.content_html %></div>

    <% if @post.author == current_author %>
    <div class="btn-group">
      <%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-sm btn-primary' %>
      <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-sm btn-danger' %>
    </div>
    <% end %>
  </article>
</div>
