<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target="#global-header">
        <i class="fa fa-bars"></i>
      </button>

      <%= link_to root_path, class: 'navbar-brand' do %>
        <span class="glyphicon glyphicon-home"></span> Home
      <% end %>
    </div>

    <div class="navbar-collapse collapse" id="global-header">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-rss"></i> Atom <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to('Mixed', posts_recent_url(:format => :atom)) %></li>
            <li class="divider"></li>
            <% Post.used_languages.each do |lang| %>
            <li><%= link_to(Post.all_languages[lang], posts_recent_url(:format => :atom, :language => lang)) %></li>
            <% end %>
          </ul>
        </li>

        <% if current_author %>
        <li>
          <%= link_to new_post_path do %>
            <span class="glyphicon glyphicon-pencil"></span> New Post
          <% end %>
        </li>
        <li>
          <%= link_to logout_path do %>
            <span class="glyphicon glyphicon-log-in"></span> Logout
          <% end %>
        </li>
        <% else %>
        <li>
          <%= link_to login_path do %>
            <span class="glyphicon glyphicon-log-out"></span> Login
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
