<div class="dropdown">
  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="hamburger">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="hamburger">
    <li>
      <%= link_to root_path do %>
        <i class="fa fa-home"></i> Home
      <% end %>
    </li>

    <li class="divider"></li>
    <li><%= link_to('Atom - All', posts_recent_url(:format => :atom)) %></li>
    <% Post.used_languages.each do |lang| %>
    <li><%= link_to("Atom - #{Post.all_languages[lang]}", posts_recent_url(:format => :atom, :language => lang)) %></li>
    <% end %>
    <li class="divider"></li>

    <% if current_author %>
    <li>
      <%= link_to new_post_path do %>
        <i class="fa fa-pencil"></i> New Post
      <% end %>
    </li>
    <li>
      <%= link_to logout_path do %>
        <i class="fa fa-sign-in"></i> Logout
      <% end %>
    </li>
    <% else %>
    <li>
      <%= link_to login_path do %>
        <i class="fa fa-sign-in"></i> Login
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
