<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <title><%= yield(:title) || 'Blog14' %></title>

  <% if controller.class == PostsController %>
  <%= stylesheet_link_tag "posts", media: "all", "data-turbolinks-track" => true %>
  <% else %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <% end %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">

  <nav>
    <ul>
      <li>
        <%= link_to root_path do %>
          <i class="fa fa-home"></i> Home
        <% end %>
      </li>

      <li>
        <i class="fa fa-rss"></i>
        <span class="header">Atom</span>
        <ul class="submenu">
          <li><%= link_to('All', posts_recent_url(:format => :atom)) %></li>
          <% Post.used_languages.each do |lang| %>
          <li><%= link_to(Post.all_languages[lang], posts_recent_url(:format => :atom, :language => lang)) %></li>
          <% end %>
        </ul>
      </li>

      <% if current_author %>
      <li>
        <%= link_to new_post_path do %>
          <i class="fa fa-pencil"></i> New Post
        <% end %>
      </li>
      <li>
        <%= link_to logout_path do %>
          <i class="fa fa-sign-in"></i> Logout
        <% end %>
      </li>
      <% else %>
      <li>
        <%= link_to login_path do %>
          <i class="fa fa-sign-in"></i> Login
        <% end %>
      </li>
      <% end %>
    </ul>
  </nav>

  <main>
  <header>
    <div class="bar"><i id="hamburger" class="fa fa-bars"></i></div>
  </header>
  <div id="flash">
    <% flash.keys.each do |k| %>
    <div class="alert alert-<%= k %>"><%= flash[k] %></div>
    <% end %>
  </div>
  <%= yield %>
  <footer>
    <div class="container">
      <p>
        Powered by
        <a href="http://rubyonrails.org/">Rails</a>
        <%= Rails::VERSION::STRING %> and
        <a href="https://www.ruby-lang.org/">Ruby</a> <%= RUBY_VERSION %>
      </p>
    </div>
  </footer>
  </main>

  </div>
</body>
</html>
