<!DOCTYPE html>
<html>
<head>
  <title>Blog14</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <%= link_to 'Blog14', posts_path, :class => 'navbar-brand' %>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if controller.class != SessionsController %>
        <% if author = current_author %>
        <li><%= link_to author.name, author %></li>
        <li><%= link_to 'Logout', logout_path %></li>
        <% else %>
        <li><%= link_to 'Login', login_path %></li>
        <% end %>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="container">

    <% flash.keys.each do |k| %>
    <div class="alert alert-<%= k %>"><%= flash[k] %></div>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
